.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    width: 100%;
    z-index: 100;
    box-sizing: border-box;
    height: 80px;
    background-color: white;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
  }
  
  .logo {
    font-size: 1.6em;
    font-weight: 700;
  }
  
  

  .rotate svg {
      transform: rotate(180deg) !important;
      transition: all 0.2s ease;
    }
  .lang {
    display: flex;
    align-items: center;
    color: #c4c4c4;
    user-select: none;
    cursor: pointer;
    span {
      font-size: 1.2em;
      font-weight: 600;
      padding: 0 8px 0 16px;
    }
    svg {
      color: #c4c4c4;
      transform: rotate(0);
      transition: all 0.2s ease
    }
  }
  
  .flag {
    width: 56px;
    height: 40px;
    border-radius: 5px;
  }
  
  .rightHeader {
    width: clamp(300px, 25%, 500px);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .donate {
    font-weight: 700;
    font-size: 1.2em;
  }
  
  
  .change {
    .hamburgerLine:first-child{
      transform: translateY(14px)rotate(-45deg)!important;
      transition: all 0.3s ease;
    }
    .hamburgerLine:nth-child(2n){
      opacity: 0% !important;
      transition: all 0.3s ease;
    }
    .hamburgerLine:last-child{
      transform: translateY(-14px)rotate(45deg)!important;
      transition: all 0.3s ease;
    }
  }

  .hamburger {
    width: 40px;
    height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  
    .hamburgerLine {
      width: 100%;
      height: 4px;
      border-radius: 100px;
      background-color: #233e5c;
      opacity: 100%;
      transition: all 0.3 ease;
    }
    .hamburgerLine:first-child{
        transform: translateY(0)rotate(0);
        transition: all 0.2 ease;
      
    }
  }
  
  .navHeader {
    position: absolute;
    box-sizing: border-box;
    padding-top: 80px;
    right: 0;
    top: 0;
    z-index: 0;
    background-color: white;
    height: 100vh;
    width: 320px;
    transform: translateX(100%);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
    transition: all 0.5s ease;
  }
  
  .navHeaderInput {
    display: none;
  }
  

.navHeaderInput:checked + .navHeader {
  transform: translateX(0);
  transition: all 0.5s ease;
}

.menu{
  display: flex;
  flex-direction: column;
  row-gap: 24px;
    font-size: 1.4rem;
    font-weight: 500;
    list-style: none ;
    width: 80%;
    margin: 40px auto;
    padding: 0;
    a {

      text-decoration: none;
    }
    
  li{ 
    height: fit-content;
  }    
}  

.identifier{
  display: flex;align-items: center;
  justify-content: center;
  text-align: center;
  width  : 100%;
  box-sizing: border-box;
  height : 50px;  
  border-radius: 10px;
  background-color:#FFCB1F;
  color:white;
}





  .Languages {
    position: absolute;
    box-sizing: border-box;
    
    margin-right : 125px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    right: 0;
    top: 0;
    z-index: 0;
    background-color: white;
    height: 180px;
    width: 140px;
    transform: translateY(-100%);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
    transition: all 0.5s ease;
    border-radius: 16px;

  }

  .LanguagesInput {
    display: none;

  }

  .LanguagesInput:checked + .Languages {
    transform: translateY(0);
    transition: all 0.5 ease;
    margin-top: 100px;
  }

  .choiceLanguage{
      display: flex;
      justify-content: center;
      align-items: center;
      color:#c4c4c4;
  }
  .choiceLanguage span {
      padding-left: 15px;
      font-weight: 600;
  }
