$header-height: 80px;

$accent-100: #e2b723;
$accent-200: #f1c121;
$accent-300: #f8c620;
$accent-400: #ffcb1f;
$accent-500: #ffd23b;
$accent-600: #fed857;
$accent-700: #fedf73;
$accent-800: #fde58f;
$accent-900: #fcf2c7;

$text-400: #16283b;
$text-500: #1e2f42;
$text-600: #253648;
$text-700: #334354;

$primary-200: #3c5c7f;
$primary-300: #4f76a1;
$primary-400: #6290c3;
$primary-500: #769ecb;
$primary-600: #89acd2;
$primary-700: #9cbada;
$primary-800: #afc8e1;
$primary-900: #d5e4f0;

$white: #fbfffe;
